<div class="robot-card">
  <div (click)="onRobotDetailClick()">
    <img [src]="robot?.imageUrl">
  </div>
  <div appMagnifyOnMouseEnter="1.5">
    {{ robot?.name }}
  </div>
  <div>
    <button class="btn btn-default"
            *ngIf="!booksFoundForRobot"
            (click)="onSearchForBook()">
      <span class="fa fa-2x fa-search"></span>
    </button>
    <ng-content></ng-content>
  </div>
  <div *ngIf="booksFoundForRobot">
    <h4>Found in books</h4>
    <ul class="list-unstyled">
      <li *ngFor="let book of booksFoundForRobot | orderByStringLength:false">
        {{ book }}
      </li>
    </ul>
  </div>
</div>
