<div class="container">
  <div>
    <h2>Currently logged in user: {{ currentlyLoggedInUser?.name }}</h2>
  </div>

  <h2>Robot with the highest price</h2>
  <div *ngIf="robotWithHighestPrice">
    <app-robot-card [robot]="robotWithHighestPrice"></app-robot-card>
  </div>

  <h2>Robots</h2>

  <div *ngFor="let robot of robots | orderRobots:true" class="robot">
    <app-robot-card [robot]="robot">
      <div class="robot-card-actions">
        <div>
          <button class="btn btn-primary" (click)="addRobotToCart(robot)">
            <span class="fa fa-shopping-cart"></span>
          </button>
        </div>
        <div>
          <button class="btn btn-warning" (click)="loadBooksForRobotAsync(robot)">
            <span class="fa fa-search"></span>
          </button>
        </div>
        <div>
          <button class="btn btn-warning" (click)="navigateToRobotDetails(robot)">
            Details
          </button>
        </div>
      </div>
    </app-robot-card>
  </div>
</div>
